.topbar{
    height: 10vh;
}
.nav-item{
    position: relative;
    display: inline-block;
}
.dropdown-list{
    position: absolute;
    top:100%;
    left: 0;
    width: 300px;
    z-index: 2;
    border: 1px solid rgba($color: #000000, $alpha: 1.0);
    box-shadow: 0 16px 24px;
}
li, ul{
    display: inline-block;
    position: relative;
}
