.title_course {
    font-size: 2em;
}
.fas{
    cursor: pointer;
    font-size: calc(1.5px + 2vmin);
}
.editor-header{
    background-color: #6C757D;
    color: white;
    font-size: calc(10px + 2vmin);
    min-height: 5vh;
    margin-bottom: 2vh;   
}


.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
}
.editor-class{
    background-color: lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
}
.toolbar-class {
    border: 1px solid #ccc;
}